ta_lab/src/main/resources/xml/Hosting/hosting.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="https://www.w3schools.com"
           xmlns="https://www.w3schools.com"
           elementFormDefault="qualified">


    <xs:element name="hosting">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="hostingId" type="xs:int" />
                <xs:element name="videoId" type="xs:int" />
                <xs:element name="name" type="xs:string"/>
                <xs:element name="maximumStorageGB" type="xs:int"/>
                <xs:element name="plans" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>